{% extends "baseHTML.html" %}
    <script type="text/javascript" src="static/jquery-3.7.1.min.js" defer></script>
    <script type="text/javascript" src="static/script.js" defer></script>
    <script type="text/javascript" src="static/Books.js" defer></script>
{% block style %}
    <link href="static/FedyaStyle.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block Kvass %}
   <div class="noname">
    <div class="main">
        <header class="invis1">
            <div class="fon">
                <tr>
                    {% if authType.userTypeId == 1 %}
                <div class="icon">
                    <div class="iconInner">
                    <a href="/profile">
                        <img src="static/istockphoto-2041572395-612x612.jpg" class="profile">
                    </a>
                    </div>
                </div>
                <div class="MainName">
                    <div class="MainName1"> MY </div>
                    <div class="MainName2"> SPORT </div>
                </div>
                <div class="search">
                    <form class="lenin" method="get" action="/searchBook">
                        <input type="text" placeholder="Поиск Товара" class="POISKTEXT" name="searchText">
                    </form>
                </div>
                <div class="inviz52">
                    <div class="Phone">
                        <img class="phoneimg" src="static/Phone.png" >
                        + 7 969 512 4888
                    </div>
                    <div class="email"> MelodieMain334@gamil.com </div>
                </div>
                <div class="menu">
                    <button class="menu" data-hamburger="true" id="menu" aria-label="Меню">
                        <div class="submenu">
                            <span class="submenu1"></span>
                            <span class="submenu2"></span>
                            <span class="submenu2"></span>
                            <span class="submenu3"></span>
                        </div>
                    </button>
                </div>
                </tr>
            </div>
        </header>

     </div>
       <div class="cheburek" id="cheburek">
{% for book in bookshelf %}
        <tr>
                    <div class="pryamoygolnik">
                        <div class="bookmain"> {{ book.title }}
                            {{ book.author }}
                            {{ book.info }}
                            {{ book.Photo }}

                                        {% if book.bookstatusid == 1 %}
                                        <button class="bbb" id="book{{ book.id }}" data-userid="{{ book.userid }}" data-bookstatusid="{{ book.bookstatusid }}" disabled>Доступна</button>
                                        {% elif book.bookstatusid == 2 %}
                                        <button class="bbb" id="book{{ book.id }}" data-userid="{{ book.userid }}" data-bookstatusid="{{ book.bookstatusid }}" onclick="giveBook({{ book.id }})">Выдать</button>
                                        {% elif book.bookstatusid == 3 %}
                                        <button class="bbb" id="book{{ book.id }}" data-userid="{{ book.userid }}" data-bookstatusid="{{ book.bookstatusid }}" onclick="takeBook({{ book.id }})">Вернуть</button>
                                        {% endif %}
                        </div>
                    </div>

        </tr>
        {% endfor %}
       </div>
    </div>
    <div class="test">
   </div>
   <div id="modal" class="modal">
       <div class="modal-content">
            <span class="close">&times;</span>
            <p>модальное окно</p>
       </div>
   </div>
    </div>
{% endblock Kvass %}